option_settings:
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static

  aws:elasticbeanstalk:container:python:
    WSGIPath: application:app  # Assuming your Flask app is named app and located in application.py

container_commands:
  01_migrate:
    command: "flask db upgrade"  # If you're using Flask-Migrate for database migrations
    leader_only: true

packages:
  yum:
    git: []

